<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Computer Algebra System</title>
  <link rel="stylesheet" href="src/style.css">
</head>

<body>
  <div id="container">
    <h1>WebCAS</h1>
    <div id="menu">
      <button @click="showSaveModal = true"><img src="save.svg"> Save</button>
      <button @click="showOpenModal = true"><img src="folder.svg"> Open</button>
    </div>
    <div id="steps"></div>

    <modal v-if="showSaveModal" @close="save">
      <span slot="title">Save</span>
      <span slot="body">
        <input
          type="text"
          placeholder="Input a name"
          v-model="name"
          @keyup.enter="save"
          :class="{ bounce: noNameInput }">
      </span>
      <span slot="button">Save</span>
    </modal>

    <modal v-if="showOpenModal" @close="showOpenModal = false">
      <span slot="title">Open</span>
      <span slot="body">
        <p v-if="saves.length === 0">No saves found.</p>
        <ul class="openList">
          <li v-for="save in saves" @click.self="open(save)">
            {{ save }}
            <img src="x.svg" @click="remove(save)" title="Delete">
          </li>
        </ul>
      </span>
    </modal>
  </div>
  <script src="manifest.js"></script>
  <script src="vendor.js"></script>
  <script src="client.js"></script>
</body>

</html>
